doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width")
    title= title
    link(rel='stylesheet', href='./bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='./bower_components/bootstrap/dist/css/bootstrap-theme.css')
    script(src="./client/kiosk.js")
    style #p404 .container { margin-top: 5%; text-align: center; }
  body
    #p404
      .container
        img(src="./img/femalecodertocat.png", width="30%")
        h1= title
        button.btn.btn-lg.btn-primary(type="button", onclick="kioskWrapperClient.openSettings()") open settings